* {
    margin: 0;
    padding: 0;
}

body {
    background: url(../images/bg.jpg) fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

text {
    font-family: 'Playball', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    letter-spacing: 0.15em;
    color: #000000;
    text-anchor: middle;
}

header {
    font-family: Pirata One;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    color: #C58F00;
    margin: 35px 0 20px 30px;
}

.status p {
    font-family: 'Sriracha', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: #C3B298;
    letter-spacing: 4px;
    margin-left: 35px;
    line-height: 40px;
}

.hobbies p {
    font-family: 'Salsa', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    color: #C3B298;
    letter-spacing: 4px;
    margin-left: 55px;
    line-height: 60px;
}


/* Navbar */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-align: center;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

#open {
    position: fixed;
    right: 35px;
    top: 10px;
    transition: margin-left .5s;
}

#open div {
    color: white;
}