 * {
     margin: 0%;
     padding: 0%;
 }
 
 body {
     background: url(../images/indexBG.png);
     background-position: center;
     background-size: cover;
     height: 100vh;
 }
 
 .main {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
 }
 
 .left {
     padding-top: 4%;
     width: 50%;
     margin-left: 5%;
 }
 
 .right {
     width: 40%;
     margin-right: 5%;
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
 }
 
 .pic {
     display: flex;
     flex-direction: column;
     flex-wrap: nowrap;
     margin-top: 5%;
     width: 400px;
 }
 
 img {
     height: 440px;
     width: 350px;
     align-self: center;
 }
 
 hr {
     width: 80%;
     align-self: center;
 }
 
 h1 {
     font-family: Spectral SC;
     color: white;
     text-align: center;
     font-size: 72px;
 }
 
 h2 {
     font-family: 'Montez', cursive;
     color: #4877CC;
     text-align: left;
     font-size: 50px;
     letter-spacing: 5px;
     font-weight: 100;
 }
 
 h3 {
     font-family: 'Uncial Antiqua', cursive;
     color: #4877CC;
     text-align: left;
     font-size: 55px;
     font-weight: 100;
     letter-spacing: 5px;
 }
 
 h4 {
     font-family: 'Trade Winds', cursive;
     color: #3960B0;
     text-align: center;
     font-size: 55px;
     font-weight: 100;
 }
 
 p {
     font-family: 'Sriracha', cursive;
     color: #757F95;
     text-align: left;
     font-size: 30px;
     letter-spacing: 3px;
 }
 /* Navbar */
 
 .sidenav {
     height: 100%;
     width: 0;
     position: fixed;
     z-index: 1;
     top: 0;
     right: 0;
     background-color: #111;
     overflow-x: hidden;
     transition: 0.5s;
     padding-top: 60px;
 }
 
 .sidenav a {
     padding: 8px 8px 8px 32px;
     text-decoration: none;
     font-size: 25px;
     color: #818181;
     display: block;
     transition: 0.3s;
     text-align: center;
 }
 
 .sidenav a:hover {
     color: #f1f1f1;
 }
 
 .sidenav .closebtn {
     position: absolute;
     top: 0;
     right: 25px;
     font-size: 36px;
     margin-left: 50px;
 }
 
 @media screen and (max-height: 450px) {
     .sidenav {
         padding-top: 15px;
     }
     .sidenav a {
         font-size: 18px;
     }
 }
 
 #open {
     position: fixed;
     right: 35px;
     top: 10px;
     transition: margin-left .5s;
 }
 
 #open div {
     color: white;
 }